@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Fira+Code:wght@300&family=PT+Mono&display=swap');

body {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

.CodeMirror {
  border: 1px solid #eee;
  font-family: 'Fira Code';
  line-height: 1.3em;
  font-size: .8em;
  font-variant-ligatures: initial;
  height: auto;
}

.cm-string {
    font-variant-ligatures: none;
}

.CodeMirror-cursor {
  border-left: thin solid black;
  border-right: none;
  width: 0;
}

table {
  border-collapse: collapse;
  margin: auto;
}

td {
  min-width: 5em;
  padding: 4px;
}

th {
  padding: 4px
}

button:focus {
  outline: 0;
}

#App {
  padding-bottom: 3em;
}